/.mypy_cache
/venv
blog/blog/__pycache__/__init__.cpython-311.pyc
blog/news/__pycache__/__init__.cpython-311.pyc
blog/main/migrations/__pycache__/__init__.cpython-311.pyc
blog/news/__pycache__/views.cpython-311.pyc
blog/main/__pycache__/views.cpython-311.pyc
blog/news/__pycache__/forms.cpython-311.pyc
blog/news/__pycache__/models.cpython-311.pyc
blog/news/__pycache__/admin.cpython-311.pyc
blog/main/__pycache__/urls.cpython-311.pyc
blog/news/migrations/__pycache__/__init__.cpython-311.pyc
blog/news/migrations/__pycache__/0001_initial.cpython-311.pyc
blog/news/__pycache__/urls.cpython-311.pyc
blog/main/migrations/__pycache__/__init__.cpython-311.pyc
blog/news/migrations/__pycache__/__init__.cpython-311.pyc
blog/news/migrations/__pycache__/__init__.cpython-311.pyc
