{% extends 'main/base.html' %}
{% block title %}Удаление статьи{% endblock %}
{% block content %}
<div class="features">
    <h1>Удаление статьи</h1>
    <form method="post">
        {% csrf_token %}
        <button class="btn btn-success" type="submit">Удалить статью</button>
        {% if error %}
            <div class="alert alert-danger">
                {% for field in error %}
                    <p>{{ field }}</p>
                    {% endfor %}
            </div>
        {% endif %}
    </form>
</div>
{% endblock %}